.greetings {
    margin-top: 8px;
    color: rgba(255,255,255,.75);
}

.custom-header .main-header {
    color: forestgreen;
}

.custom-header .header {
    color: rgba(255,255,255);
}

.navbar-expand {
    justify-content: space-between;
}

